---
// pages/index.astro
import { getAuth, Auth } from "../lib/lucia";

export const prerender = false;

const auth = getAuth(await Deno.openKv());
const authRequest = auth.handleRequest(Astro);
const session = await authRequest.validate();
const { user } = await authRequest.validateUser();

if (!user) {
  return Astro.redirect("/login", 302);
}
const allSessions = await auth.getAllUserSessions(user.userId);
---

<h1>Profile</h1>
<div>
  <p>User id: {user.userId}</p>
  <p>Username: {user.username}</p>
  <details>
    <summary>
      Session id: {session?.sessionId} ({allSessions.length})
    </summary>
    <pre>
			{JSON.stringify(await auth.getAllUserSessions(user.userId), null, 2)}
		</pre>
  </details>
  <br />
  <form action="/api/logout" method="post">
    <input type="submit" value="Sign out" />
  </form>
  <br />
  <form action="/api/delete_user" method="post">
    <input type="submit" value="Delete user" />
  </form>
</div>
